a{
	text-decoration: none;
	padding: 10px;
	font-size: 130%;
	color: #80e710;
}
#search{
	width: 50%;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: #e8f6f6;
	background-image: url('../images/searchicon.png');
	background-size: 23px;
	background-position: 10px 10px; 
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
}
.left-nav{
	display: inline;
}
.right-nav{
	display: inline-block;
	float: right;
	padding: 12px 20px 12px 40px;
}
.brand{
	margin-right: 8px;
	font-size: 155%;
}
nav{
	margin: -8px;
	padding: 7px;
	overflow: hidden;
	background-color: #ba3939;
}
a:hover{
	color: #ba3939;
	border: 1px solid;
	background-color: white;
	border-radius: 6px;
}
div.polaroid {
	display: inline-block;
	margin: 40px;
	width: 30%;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 25px;
}
div.left{
	float: left;
}
div.right{
	float: right;
}
div.container {
  text-align: center;
  padding: 10px 20px;
}
